header{
    display: flex;
    flex-direction: row;
}
h6{
    margin: 0;
}

#website-content-panel{
    width: 67%;
    margin-left: auto;
    margin-right: auto;
}

#header-name-panel{
    width: 60%;
}

#header-nav-panel{
    width: 40%;
    font-size: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}