html{
    background-image: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2670&q=80");
    background-repeat: repeat;
    font-family: 'Ubuntu';
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 10px;
    padding: 6px;
}

.logo-container img{
    width: 50px;
}

.edu-entry{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

.edu-entry-heading{
    font-size: 14px;
}

.edu-entry-content{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.edu-entry-content-description{
    font-size: 10px;
}

/*
    Website-wide elements
*/

#website-content-panel{
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px;
    background-color: azure;
    opacity: 0.95;
}

@media only screen and (max-width: 600px) {
    #website-content-panel{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding: 2px;
        background-color: azure;
        opacity: 0.95;
    }
  }

/*
    Header
*/
#header-name-panel{
    width: 60%;
}

#header-name-panel h6{
    margin-top: 0;
}

#header-nav-panel{
    width: 40%;
    font-size: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#header-nav-panel a{
    margin: 1px;
}

/*
    About Me Section
*/
#about-me-section-panel{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#about-me-section-panel h6{
    margin: 0;
}

#about-me-content-panel{
    width: 66%;
}

#about-me-content-panel p{
    font-size: 12px;
    padding-right: 5px;
}

#about-me-image-panel{
    width: 33%;
}

#about-me-image-panel img{
    width: 100%;
    border-radius: 10px;
}

/*
    Education Section Panel
*/

#edu-section-panel{
    display: flex;
    flex-direction: column;
}

#edu-section-panel h6{
    margin: 0;
}

/*
    Skills Section Panel
*/

#skills-enumeration-panel{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

#skills-enumeration-panel img{
    width: 50px;
    mix-blend-mode: multiply;
    margin: 5px;
}

/*
    Contact Section Panel
*/

#contact-enumeration-panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

#contact-enumeration-panel img{
    width: 25px;
    margin: 5px;
}